.gitignore export-ignore
.wp-env.json  export-ignore
bin  export-ignore
CHANGELOG.md  export-ignore
CODE_OF_CONDUCT.md  export-ignore
composer.json  export-ignore
composer.lock  export-ignore
Dockerfile  export-ignore
docs  export-ignore
docker-compose.yml  export-ignore
FEDERATION.md  export-ignore
Gruntfile.js  export-ignore
node_modules  export-ignore
package-lock.json  export-ignore
package.json  export-ignore
phpcs.xml  export-ignore
phpunit.xml  export-ignore
README.md  export-ignore
src  export-ignore
tests  export-ignore
vendor  export-ignore
.distignore  export-ignore
