includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	# Bleeding edge offers a preview of the next major version.
	# When you enable Bleeding edge in your configuration file, you will get new rules,
	# behaviour, and bug fixes that will be enabled for everyone later
	# when the next PHPStan’s major version is released.
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	bootstrapFiles:
		# Constants, functions, etc. used by the Event Bridge For ActivityPub
		- phpstan.stubs

	universalObjectCratesClasses:
		- Event_Bridge_For_ActivityPub\ActivityPub\Model\Event_Source

	ignoreErrors:
		-
			message: '#Call to an undefined method Activitypub\\Activity\\[a-zA-Z0-9\\_]+::(?:get|set)_[a-z\_]+#'
			identifier: method.notFound
		-
			message: '#Parameter \#1 \$[a-z\_]+ of method Activitypub\\Activity\\Generic_Object::set_[a-z\_]+\(\) expects [a-z\_|]+, null given.#'
			identifier: argument.type
		- '#Call to internal function get_terms\(\)#'


	parallel:
		maximumNumberOfProcesses: 1
		processTimeout: 300.0

	# the analysis level, from 0 (loose) to 9 (strict)
	# https://phpstan.org/user-guide/rule-levels
	level: 5

	paths:
		- includes/

	scanDirectories:
		- /workspace/wordpress/wp-content/plugins/
