.settings_page_event-bridge-for-activitypub #wpcontent {
	padding-left: 0;
}

.event-bridge-for-activitypub-settings-page .box {
	border: 1px solid #c3c4c7;
	background-color: #fff;
	padding: 1em 1.5em;
	margin-bottom: 1.5em;
}

.event-bridge-for-activitypub-settings-page .box ul.event-bridge-for-activitypub-list {
	margin-left: 0.6em;
}

.event-bridge-for-activitypub-settings-page .box pre {
	padding: 1rem;
	min-height: 200px;
	box-shadow: none;
	border-radius: 15px;
	border: 1px solid #dfe0e2;
	background-color: #f7f7f7;
}

.event-bridge-for-activitypub-settings {
	max-width: 800px;
	margin: 0 auto;
}

.event-bridge-for-activitypub-settings-header {
	text-align: center;
	margin: 0 0 1rem;
	background: #fff;
	border-bottom: 1px solid #dcdcde;
}

.event-bridge-for-activitypub-settings-title-section {
	display: flex;
	align-items: center;
	justify-content: center;
	clear: both;
	padding-top: 8px;
}

.event-bridge-for-activitypub-settings-tabs-wrapper {
	display: -ms-inline-grid;
	-ms-grid-columns: auto auto auto auto;
	vertical-align: top;
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
}

.event-bridge-for-activitypub-settings-tab.active {
	box-shadow: inset 0 -3px #3582c4;
	font-weight: 600;
}

.event-bridge-for-activitypub-settings-tab {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: .5rem 1rem 1rem;
	margin: 0 1rem;
	transition: box-shadow .5s ease-in-out;
}

.event-bridge-for-activitypub-settings .box h3 {
	font-size: 1.15em;
	margin-bottom: 0em;
}

#event_bridge_for_activitypub_initially_activated {
	display: hidden;
}

/* Accordions for admin pages */
.event-bridge-for-activitypub-settings-accordion {
	border: 1px solid #c3c4c7;
}

.event-bridge-for-activitypub-settings-accordion-heading {
	margin: 0;
	border-top: 1px solid #c3c4c7;
	font-size: inherit;
	line-height: inherit;
	font-weight: 600;
	color: inherit;
}

.event-bridge-for-activitypub-settings-accordion-heading:first-child {
	border-top: none;
}

.event-bridge-for-activitypub-settings-accordion-panel {
	margin: 0;
	padding: 1em 1.5em;
	background: #fff;
}

.event-bridge-for-activitypub-settings-accordion-trigger {
	background: #fff;
	border: 0;
	color: #2c3338;
	cursor: pointer;
	display: flex;
	font-weight: 400;
	margin: 0;
	padding: 1em 3.5em 1em 1.5em;
	min-height: 46px;
	position: relative;
	text-align: left;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	-webkit-user-select: auto;
	user-select: auto;
}

.event-bridge-for-activitypub-settings-accordion-trigger {
	color: #2c3338;
	cursor: pointer;
	font-weight: 400;
	text-align: left;
}

.event-bridge-for-activitypub-settings-accordion-trigger .title {
	pointer-events: none;
	font-weight: 600;
	flex-grow: 1;
}

.event-bridge-for-activitypub-settings-accordion-trigger .icon,
.event-bridge-for-activitypub-settings-accordion-viewed .icon {
	border: solid #50575e medium;
	border-width: 0 2px 2px 0;
	height: .5rem;
	pointer-events: none;
	position: absolute;
	right: 1.5em;
	top: 50%;
	transform: translateY(-70%) rotate(45deg);
	width: .5rem;
}

.event-bridge-for-activitypub-settings-accordion-trigger[aria-expanded="true"] .icon {
	transform: translateY(-30%) rotate(-135deg);
}

.event-bridge-for-activitypub-settings-accordion-trigger:active,
.event-bridge-for-activitypub-settings-accordion-trigger:hover {
	background: #f6f7f7;
}

.event-bridge-for-activitypub-settings-accordion-trigger:focus {
	color: #1d2327;
	border: none;
	box-shadow: none;
	outline-offset: -1px;
	outline: 2px solid #2271b1;
	background-color: #f6f7f7;
}

.event-bridge-for-activitypub-settings-inline-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin: 0 0.3em;
}

code.event-bridge-for-activitypub-settings-example-url {
	display: block;
	background: rgb(28, 29, 33);
	padding: 8px;
	margin: 10px 0px 10px 0;
	border-radius: 7px;
	color: #d5d5d6;
	overflow-x: auto;
	word-break: break-all;
}

#event_bridge_for_activitypub_summary_type_custom-details {
	display: none;
}

#event_bridge_for_activitypub_summary_type_custom-details > details {
	padding: 0.5em;
}

.event_bridge_for_activitypub-list {
	list-style: disc;
	padding-left: 22px;
}

.event_bridge_for_activitypub-admin-table-container {
	padding-left: 22px;
}
